### Single Post View


<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css" />
  <title><%= post.title %></title>
</head>
<body>
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <p>Posted on: <%= post.createdAt.toDateString() %></p>
  <a href="/">Back to Home</a>
</body>
</html>
